{% include 'menu/menu.njk' %}
<div class="greyfield">
	{% include 'calendar/calendar.njk' %}
	{% include 'rating/rating.njk' %}
	{% include 'ads/ads.njk' %}
	{% include 'adswindow/adswindow.njk' %}
	{% include 'enter/enter.njk' %}
</div>