<div class="adswindow wrapper">
	<span class="adswindow-title">&laquoВсероссийская выставка образовательных учреждений&raquo</span>
	<a class="adswindow-link" href="http://форумпобедителей.рф/@%D0%94%D0%95%D0%A2%D0%A1%D0%9A%D0%98%D0%99%D0%A1%D0%90%D0%9421%D0%AF%D0%93%D0%9E%D0%94%D0%9A%D0%90">
		<img class="adswindow-pict" src="./images/forum.png" alt="Всероссийская выставка образовательных учреждений">
	</a>
	<span class="menu-click adswindow-show">развернуть</span>
	<span class="menu-click adswindow-hide">свернуть</span>
	<a class="adswindow-inner" href="./notices">
		<span class="adswindow-inner__txt">Все объявления &raquo</span>
	</a>
</div>