<div class="contacts">
	<h1 class="contacts-title end-line title">Контакты</h1>
	<table class="contacts-table" cellspacing="6" cellpadding="10" border="1" >
		<tbody>
			<tr>
				<td>Детский сад №11111</td>
			</tr>
			<tr>
				<td class="contacts-description">Сокращенное наименование</td>
				<td>ДОУ № 11</td>
			</tr>
			<tr>
				<td class="contacts-description">Адрес</td>
				<td>617000, г. Нытва, Пермский край, ул. Комсомольская, д. 39 </td>
			</tr>
			<tr>
				<td class="contacts-description">Телефон</td>
				<td>+79504472411</td>
			</tr>
			<tr>
				<td class="contacts-description">E-mail</td>
				<td>denbar@apri-code.ru</td>
			</tr>
		</tbody>
	</table>
	<div class="contacts-lead">
		<table class="contacts-table table-head" cellspacing="6" cellpadding="10" border="1" >
			<tbody>
				<tr>
					<td class="contacts-description">Заведующий</td>
					<td><a href="https://test2.tvoysadik.ru/about/workersItem/1">Иванова Мария</a></td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>Телефон: 8(34383) </td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>Среда 15.00-18.00</td>
				</tr>
			</tbody>
		</table>
		<span class="transtport">троллейбусы 1,6,9,15,20: до остановки станция Ботаническая</span>
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6878d3a50b3a52a0d0970eae1f1efec7b261c3cb54ad68e5cfe8f31fec206894&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
			<table class="contacts-table table-lead" cellspacing="6" cellpadding="10" border="1" >
			<tbody>
				<tr>
					<td class="contacts-description">Учредитель</td>
					<td>Администрация городского округа Карпинск </td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td><a href="">http://karpinsk.midural.ru/</a></td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>624930, Свердловская область, г. Карпинск, ул. Мира, 63</td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>Телефон: +7(34383)32810</td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>Эл. адрес: karpinsk-org.otdel@mail.ru</td>
				</tr>
			</tbody>
		</table>
		<table class="contacts-table table-lead" cellspacing="6" cellpadding="10" border="1" >
			<tbody>
				<tr>
					<td class="contacts-description">Учредитель</td>
					<td>Отдел образования администрации городского округа Карпинск </td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td><a href="">https://karpinsk-edu.ru/</a></td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>624930, Свердловская область, г. Карпинск, ул. Мира, д. 63, каб. 19</td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>Телефон: +7(34383)33531</td>
				</tr>
				<tr>
					<td class="contacts-description"></td>
					<td>Эл. адрес: otdobraz@ekarpinsk.ru</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>