{% set news = [
	{
		'date': '17.07.2017',
		'title': 'ава',
		'link':'./news/item/32',
		'text': 'Товарищи! сложившаяся структура организации играет важную роль в 			формировании позиций, занимаемых участниками в отношении поставленных 			задач. Таким образом постоянное информационно-пропагандистское об…',
		'see': 'Просмотров 36,',
		'today': 'сегодня 1'
	},
	{
		'date': '17.07.2017 ',
		'title': '123',
		'link':'./news/item/33',
		'text': 'Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Р…',
		'see': 'Просмотров 25,',
		'today': 'сегодня 1'
	},
	{
		'date': '13.07.2017',
		'title': '4124124124',
		'link':'./news/item/22',
		'text': 'Не следует, однако забывать, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении постав...',
		'see': 'Просмотров 21,',
		'today': 'сегодня 1'
	},
	{
		'date': '13.07.2017',
		'title': 'Вот так то !!!',
		'link':'./news/item/23',
		'text': 'Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации новых предложений. Товарищи! рамки и место обучения кадров позволяет выполнять важные з…',
		'see': 'Просмотров 28,',
		'today': 'сегодня 1'
	},
	{
		'date': '13.07.2017',
		'title': '456',
		'link':'./news/item/24',
		'text': 'Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют от нас анализа дальнейших направлений развития. Товарищи! реализация намеченных плановых…',
		'see': 'Просмотров 23,',
		'today': 'сегодня 1'
	},
	{
		'date': '13.07.2017',
		'title': 'Текст',
		'link':'./news/item/25',
		'text': 'Текст (от лат. textus — «ткань; сплетение, связь, сочетание») — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.…',
		'see': 'Просмотров 44,',
		'today': 'сегодня 1'
	}
]%}

<div class="newslist">
	{% for item in news %}
		<div class="newslist-item">
			<div class="newslist-img clearfix">
			<img src="" alt="">
			</div>
			<div class="newslist-annotation">		
				<span class="newslist-date">{{item.date}}</span>
				<a class="newslist-link" href="{{item.link}}">{{item.title}}</a>
				<p class="newslist-txt">{{item.text}}</p>
				<span class="newslist-counter">{{item.see}}</span>
				<span class="newslist-counter">{{item.today}}</span>
			</div>			
		</div>
	{% endfor %}
</div>