<div class="welcome end-line">
	<h1 class="welcome-title title">Добро пожаловать на официальный сайт нашего детского сада!</h1>
	<a class="welcome-link" href="http://xn--90agcbaqjodtbll9ahn.xn--p1ai/@%D0%94%D0%95%D0%A2%D0%A1%D0%9A%D0%98%D0%99%D0%A1%D0%90%D0%9421%D0%AF%D0%93%D0%9E%D0%94%D0%9A%D0%90">
		<img class="welcome-img" src="./images/forum.png" alt="Детский сад">
	</a>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, et aut veniam rem ut dicta ullam, explicabo, iusto, quo nesciunt facilis excepturi eos. Tenetur labore atque asperiores minus cum facilis?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, et aut veniam rem ut dicta ullam, explicabo, iusto, quo nesciunt facilis excepturi eos. Tenetur labore atque asperiores minus cum facilis?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, et aut veniam rem ut dicta ullam, explicabo, iusto, quo nesciunt facilis excepturi eos. Tenetur labore atque asperiores minus cum facilis?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, et aut veniam rem ut dicta ullam, explicabo, iusto, quo nesciunt facilis excepturi eos. Tenetur labore atque asperiores minus cum facilis?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, et aut veniam rem ut dicta ullam, explicabo, iusto, quo nesciunt facilis excepturi eos. Tenetur labore atque asperiores minus cum facilis?</p>
</div>